* {
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  width: 100vw;
  background: var(--bg-gradient);
}

.carta {
  transform: translateY(20px);
  position: relative;
  background: white;
  border-radius: 15px;

  max-height: fit-content;
  max-width: 980px;
  margin: 20px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 75%;
  grid-template-areas: "image" "text";
  align-items: center;
  justify-items: center;
}

.cartaImagem {
  position: absolute;
  grid-area: image;
  height: 100%;
  width: 200px;
  background: url("../images/bg-pattern-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;

  .mulher1 {
    position: absolute;
    inset: -120px 0 0 -20px;
    margin: auto;
    height: 165px;
    width: 220px;
  }
  .mulher2 {
    display: none;
  }
}

.cartaAcordeao {
  grid-area: text;
  text-align: center;
  margin: 0px 20px 20px 20px;
}

.titulo {
  color: hsl(238, 29%, 16%);
  font-size: 1.8em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  margin: 5px 0 20px 0;
}

////Acordeon

.collaps {
  width: 100%;
  text-align: left;
}
.collaps .acordeoes {
  padding: 10px 0 10px 0;
  border-bottom: hsl(240, 5%, 91%) solid 1px;
  position: relative;
}
.collaps .acordeoes .collaps-header {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: hsl(237, 12%, 33%);
  position: relative;
  margin: 7px 0 7px 0;
  &::after {
    transform: scale(0.7);
    content: "";
    position: absolute;
    background-image: url("../images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 10px;
    right: 0;
    transition: 0.2s;
  }
  &:hover {
    transition: all 0.2s ease-in-out;
    color: hsl(14, 88%, 65%);
  }
}

.collaps .acordeoes .collaps-body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 10px;
  color: hsl(240, 6%, 50%);
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 0;
  transition: 0.5s;
}

.collaps .acordeoes.active .collaps-body {
  padding: 0;
  height: 50px;
  overflow-y: hidden;
  transition: 0.5s;
}
.collaps .acordeoes.active .collaps-header {
  font-weight: 700;
  color: black;
  transition: 0.2s;
}

.collaps .acordeoes.active .collaps-header::after {
  transform: rotate(-180deg);
  transition: 0.2s ease-in-out;
}

@media (min-width: 620px) {
  .carta {
    transform: translateY(20px);
    position: relative;
    max-height: fit-content;
    max-width: 980px;
    margin: 20px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    grid-template-areas: "image text";

    .cartaAcordeao {
      position: relative;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 40px 54px 40px 0;
      .titulo {
        margin: 0;
        font-size: 2em;
      }
      .collaps {
        padding: 0px;
        .acordeoes {
          padding: 8px 0;
        }
      }
    }
  }

  .cartaImagem {
    position: absolute;
    grid-area: image;
    height: 100%;
    width: 100%;
    background: url("../images/bg-pattern-desktop.svg");
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 120% 60%;
    overflow: hidden;

    .mulher1 {
      display: none;
      position: absolute;
      inset: -120px 0 0 -20px;
      margin: auto;
      height: 165px;
      width: 220px;
    }
    .mulher2 {
      display: inline;
      position: absolute;
      top: 50%;
      transform: translate(-15%, -50%);
      height: auto;
      width: 100%;
    }
  }
}
///
